/*-------------- Common Styles ------------------*/
/*-------------- REMOVE HEIGTS! ------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: auto;
    font-size: 62.5%;
}

.flex {
    display: flex;
}

h1 {
    font-size: 5.6rem;
    color: #fff
}

h2 {
    font-size: 2.8rem;
    color: #fff
}

h3 {
    font-size: 2.8rem;
    color: #ff4422;
    font-weight: 900;
}

h4 {
    font-size: 1.6rem;
    color: #000;
}

span {
    font-size: 1.4rem;
    color: #f7c1c199;
}

/*---------------- Nav Styels -----------------*/

.hidden-nav {
    background-color: #131313;
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.hidden-nav li {
    margin: 0 0.8rem;
}

.hidden-nav a {
    color: #ffffff99;
    text-decoration: none;
}

.left-hidden-nav {
    width: 70%;
}

.right-hidden-nav {
    width: 30%;
    text-align: right;
}

.hidden-nav li, .sticky-nav li, .nav-breakpoint  {
    list-style: none;
    display: inline;
    font-size: 1.3rem;
    font-weight: 500;
}

.sticky-nav {
    display: flex;
    background-color:rgb(253, 253, 253);
    position: sticky;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    top: 0;
    height: 4.8rem;
    border-bottom: rgb(204, 204, 204)  solid 0.1px;
}
.sticky-nav img {
    height: auto;
    width: 6rem;
    margin: 0 auto;
    
}

.logo {
    display: flex;
    align-items: center;
    background: linear-gradient(to right bottom, #d52b96, #ff4a11);
    height: 4.8rem;
    width: 10rem;
}

.logo-breakpoint {
    display: none;
}

.nav-shadow{
    box-shadow: rgb(204, 204, 204) 0 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.8rem;
    z-index: -1;
}

.sticky-nav li {
    font-size: 1.4rem;
    margin: 0 0.8rem;
}

.sticky-nav a {
    color: #aaa;
    text-decoration: none;
}

.left-sticky-nav {
    padding: 0 1rem;
    width: 93.5%;
}

.search-icon {
    display: flex;
    width: 6.5%;
    font-size: 1.5rem;
    font-weight: 300;
    align-items: center;    
    justify-content: center;
    transform: scale(-1,1);
    color: #aaa;
    height: 100%;
    border-right: solid #aaa 0.1rem;
}

.nav-breakpoint {
    display: none;
}

/*------------------main----------------------*/

.main-img {
    display: grid;
    position: relative;
    height: 50rem;
    margin: 1rem 2rem 1rem 1rem;
    grid-template: repeat(2, 50%) / 65% 35%;
    grid-gap: 1rem;    
}

.grid-1 {
    background-color: aqua;
    position: relative;
    grid-area: 1 / 1 / 3 / 2 
}

.grid-2 {
    background-color: red;
    grid-area: 1 / 2 / 2 / 3;
    
}

.grid-3 {
    background-color: burlywood;
    grid-area: 2 / 2 / 2 / 3;
}

.grid-1, .grid-2, .grid-3 {
    justify-content: flex-end;
    flex-direction: column;
    padding: 2rem;
}

.grid-1 a, .grid-2 a, .grid-3 a {
    color: #ffffff99;
    text-decoration: none;
}

.main-date {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

/*---------------- Latest News Styes ------------------*/

.latest-news {
    position: relative;
    margin: 20rem auto;
    width: 85%;
    flex-wrap: wrap;
    height: auto;
}

.news {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1.5rem;
}
.news-title {
    position: absolute;
    top: -5rem;
    left: 1rem;
}
.news a {
    color: #aaa;
    text-decoration: none;
    line-height: 2rem;
}
.news span {
    color: #aaa;
    
}

/*-------------------latest-funding----------------------*/

.latest-funding {
    margin: 0 auto;
    width: 85% ;
    height: 30rem;
  
}

.funding-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.funding-title {
    width: 60%;
}

.funding-links {
    color: #f42;
    font-size: 1.6rem;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
}

.funding-links a{
    color: inherit;
    font-size: inherit;
    text-decoration: none;  
    margin: 0 0.5rem;
}

.funding-img {
    flex-direction: row;
    width: 100%;
    height: 30rem;
    flex-wrap: wrap;
    
}

.funding {
    height: auto;
    width: 25%;
    padding: 1rem;
}

.funding h5 {
    background-color: #f42;
    color: #fff;
    font-size: 1.6rem;
    line-height: 3rem;
}

.funding-p {
    background-color: #ff442212;
    height: auto;
}

.funding-p p {
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
    padding-top: 1rem;
}

.funding-p span {
    font-size: 1.2rem;
    color: rgb(43, 42, 42);
}

.funding img {
    height: 5rem;
    width: auto;
    float: left;
    margin: 1rem;
}

.fund-list ul {
    list-style: none;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.fund-list hr {
    margin: 1rem 0;
}


/*---------------------------tech-section-------------------------*/


.tech-section {
    flex-wrap: wrap;
    width: 85%;
    margin: 20rem auto;
    
}

.article-box{
    width: 33.333333%;
    height: auto;
    padding: 2rem;
}

.title {
    flex-direction: column;
    justify-content: flex-end;
    
}
.article-ad {
    background-color: #ff442212;
}

.article-ad p, span {
    font-size: 1.4rem;
    color: #f42;
}
.article-list a {
    font-size: 1.2rem;
    line-height: 3rem;
    text-decoration: none;

}

.article-list ul {
    line-height: 2rem;
}

hr {    
    border-width: 0;
    height: .1rem;
    background-color: rgb(230, 230, 230);   
}


/*-----------------------latest-deals------------------*/

.latest-deals {
    height: 50rem;
    margin: 0 auto;

}

.deals-head {
    justify-content: space-between;
}

.deal-container {
    flex-wrap: wrap;
    
}

.deal {
    width: 25%;
    padding: 2rem;
}

.deal h3 {
    font-size: 1.6rem;
    color: #000;
}

.deal span {
    color: #aaa;
}

/*-----------------------footer------------------*/

footer {
  position: relative;
  bottom: 0;
}

.top-footer {
  background-color: springgreen;
}

.bottom-footer {
  background-color: steelblue;
}


@media screen and (max-width: 900px) {
  .news, .funding, .deal {
    width: 33.3333%;
  }

  .funding-header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .funding-title, .funding-links {
      width: 100%;
  }

  .funding-links {
      justify-content: flex-start;
  }

  .last {
    display: none;
  }

  .article-box {
    width: 50%;
  }

  .logo {
    position: absolute;
    left: -10rem;
  }

  .logo-breakpoint {
    display: flex;
    align-items: center;
    background: linear-gradient(to right bottom, #d52b96, #ff4a11);
    width: 10rem;
    height: 8rem;
    float: left;

  }

  .logo-breakpoint img {
    height: auto;
    width: 6rem;
    margin: 0 auto;   
  }

  h1 {
      font-size: 4rem;
  }

  h2 {
      font: 2rem;
  }

}

@media screen and (max-width: 765px) {
    .nav-breakpoint {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(253, 253, 253);
        clear: both;
        position: sticky;
        top: 0;
        z-index: 120;
        height: 4.8rem;
    }

    .logo-second-bp {
        display: flex;
        align-items: center;
        background: linear-gradient(to right bottom, #d52b96, #ff4a11);
        height: 4.8rem;
        width: 10rem;

    }
    .nav-breakpoint img {
        height: auto;
        width: 6rem;
        margin: 0 auto;
    

    }

    .hidden-nav {
        display: none;
    }

    .sticky-nav {
        display: none;
    }
    .search-icon-breakpoint {
        align-items: center;
        width: 15%;
        justify-content: space-around;
        color: #aaa;
        height: 100%;
        background-color: rgb(253, 253, 253);
        
        
       
    }
    .search-bar , .menu  {
        justify-content: center;
        transform: scale(-1,1);
        border-right: solid #aaa .1rem ;
        height: 100%;
        width: 100%;
        align-items: center;
        padding: 1rem;
        font-size: 1.6rem;
        
        
    }

    .menu {
        color: #f42;
    }



    .logo-breakpoint {
        display: none;
    }

    



    .main-img {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 50rem;
        margin: 1rem 0rem 1rem 0rem;

    }
         

    .grid-1, .grid-2, .grid-3 {
        width: 100%;
        height: 33.33333%;     
        background-color: blueviolet; 
    } 
    
    .latest-news, .latest-funding, .tech-section, .latest-deals {
        width: 100%;
    }

    .news {
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    .funding-header {
        flex-direction: column;
        justify-content: flex-end;
        height: 10rem;
        width: 95%;
        margin: 0 auto;
    }

    .funding {
        width: 100%;
        flex-direction: column;
        height: auto;
        width: 95%;
        margin: 0 auto;
    }

    .last {
        display: none;
    }
    
    .article-box {
      width: 100%;
    }

    .deal-container {
      width: 100%;
      flex-direction: column;
    }

    .deal, .deals-head  {
      width: 95%;
      margin: 0 auto;
    }

    h1, h2 {
        font-size: 2rem;
    }

}