/*-------------- Common Styles ------------------*/
/*-------------- REMOVE HEIGTS! ------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

.flex {
    display: flex;
}

/*---------------- Nav Styels -----------------*/

nav {
    width: 100%;
    background-color: blue;
    height: auto;
}

.hidden-nav {
    background-color: red;
}

.left-hidden-nav {
    background-color: greenyellow;
    float: left;
    width: 50%;
}

.right-hidden-nav {
    background-color: orangered;
    float: right;
    width: 50%;
}

.sticky-nav {
    background-color: green;
    clear: both;
}

.left-sticky-nav {
    width: 50%;
    background-color: purple;
}

.search-icon {
    background-color: red;
    width: 50%;
    z-index: 100
}

/*------------------main----------------------*/

.main-img {
    display: grid;
    position: relative;
    height: 50rem;
    margin: 1rem 2rem 1rem 1rem;
    grid-template: repeat(2, 50%) / 65% 35%;
    grid-gap: 1rem;    
}

.grid-1 {
    background-color: aqua;
    grid-area: 1 / 1 / 3 / 2 
}

.grid-2 {
    background-color: red;
    grid-area: 1 / 2 / 2 / 3;
    
}

.grid-3 {
    background-color: burlywood;
    grid-area: 2 / 2 / 2 / 3;
}

/*---------------- Latest News Styes ------------------*/

.latest-news {
    background-color: seagreen;
    margin: 20rem auto;
    width: 85%;
    flex-wrap: wrap;
    height: 50rem;
}

.latest-news img {
    width: 25%;
    
    background-color: slateblue;
    padding: 1.5rem;
}

/*-------------------latest-funding----------------------*/

.latest-funding {
    margin: 0 auto;
    width: 85% ;
    height: 30rem;
  
}

.funding-header {
    flex-direction: row;
    justify-content: space-between;
    background-color: cornflowerblue;
    height: 10rem;
}

.funding-title {
    background-color: darkgray;
}

.funding-links {
    background-color: darkmagenta;
    
}

.funding-img {
    flex-direction: row;
    width: 100%;
    background-color: darkseagreen;
    height: 30rem;
    flex-wrap: wrap;
    
}

.funding {
    height: 25rem;
    width: 25%;
    background-color: darkviolet;
}

/*---------------------------tech-section-------------------------*/


.tech-section {
    flex-wrap: wrap;
    width: 85%;
    margin: 20rem auto;
    background-color: ghostwhite; 
}

.article-box{
    width: 33.333333%;
    height: 30rem;
    background-color: firebrick;
    padding: 2rem;
}


/*-----------------------latest-deals------------------*/

.latest-deals {
    width: 85%;
    height: 50rem;
    margin: 0 auto;

}

.deals-head {
    background-color: gold;
    justify-content: space-between;
}

.deal-container {
    flex-wrap: wrap;
    background-color: green;
}

.deal {
    width: 25%;
    background-color: hotpink;
    padding: 2rem;
}

/*-----------------------footer------------------*/

footer {
  position: relative;
  bottom: 0;
}

.top-footer {
  background-color: springgreen;
}

.bottom-footer {
  background-color: steelblue;
}


@media screen and (max-width: 900px) {
  .latest-news img, .funding, .deal {
    width: 33.3333%;
  }

  .funding-header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .last {
    display: none;
  }

  .article-box {
    width: 50%;
  }
}

@media screen and (max-width: 765px) {
    .nav-breakpoint {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: indianred;
        clear: both;
        position: sticky;
    }

    .sticky-nav {
        display: none;
    }

    .main-img {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 50rem;
        margin: 1rem 0rem 1rem 0rem;

    }
         

    .grid-1, .grid-2, .grid-3 {
        width: 100%;
        height: 33.33333%;     
        background-color: blueviolet; 
    } 
    
    .latest-news, .latest-funding {
        width: 100%;
    }

    .latest-news img {
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    .funding-header {
        flex-direction: column;
        justify-content: space-between;
        background-color: cornflowerblue;
        height: 10rem;
    }

    .funding {
        width: 100%;
        flex-direction: column;
        height: 10rem;

    }

    .last {
        display: none;
    }

}